*.exe export-ignore
*.o export-ignore
*.txt export-ignore
*.pptx export-ignore
*.pdf export-ignore
*.dat export-ignore
*.ow export-ignore
*.bat export-ignore
*.html export-ignore
*.html~ export-ignore
*.htm.bak export-ignore
*.css export-ignore
*.js export-ignore
*.js~ export-ignore
*.png export-ignore
*.JPG export-ignore
*.docx.pdf export-ignore
