*.exe linguist-language=Pascal
*.o linguist-language=Pascal
*.txt linguist-language=Pascal
*.pptx linguist-language=Pascal
*.pdf linguist-language=Pascal
*.dat linguist-language=Pascal
*.ow linguist-language=Pascal
*.bat linguist-language=Pascal
